<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG.xml" parallel="false">


    <parameter name="url" value="###URL###"></parameter>
    <parameter name="UserName" value="userid"></parameter>
    <parameter name="UserPassword" value="userpassword"></parameter>



    <test name="MotionCore_Integration_SmokeTest">
        <classes>
            <class name="automatedtests.LoginPage"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->